/* CHATBOT */
.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.chat-toggle {
  width: 60px;
  height: 60px;
  background: #00ff88;
  color: #000;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.chatbox {
  width: 320px;
  height: 420px;
  background: #111;
  border-radius: 12px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  margin-bottom: 10px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

.chat-header {
  background: #00ff88;
  color: #000;
  padding: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-body {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  font-size: 14px;
}

.bot-message,
.user-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
}

.bot-message {
  background: #222;
}

.user-message {
  background: #00ff88;
  color: #000;
  margin-left: auto;
}

.chat-footer {
  display: flex;
  border-top: 1px solid #333;
}

.chat-footer input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background: #000;
  color: #fff;
}

.chat-footer button {
  padding: 10px 15px;
  border: none;
  background: #00ff88;
  cursor: pointer;
  font-weight: bold;
}

#closeChat {
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s ease;
}

#closeChat:hover {
  color: red;
  transform: rotate(90deg) scale(1.2);
}
/* MOBILE */
@media(max-width: 480px){
  .chatbox{
    width: 95vw;
    height: 70vh;
    right: 2.5vw;
  }
}

